.main {
  margin: auto;
  text-align: center;
}

.slogan {
  background-color: rgb(193, 237, 254);
  height: 500px;
  background-image: url("https://s3.ca-central-1.amazonaws.com/myswecompany.com/cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan-text {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 44, 59, 0.5);
}
