.main {
  margin: auto;
  text-align: center;
}

.slogan {
  background-color: rgb(193, 237, 254);
  height: 500px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0)
    ),
    url("https://s3.ca-central-1.amazonaws.com/myswecompany.com/cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan-text {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 44, 59, 0.5);
}

.mission-parent-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(0, 187, 255)
  );
  padding: 50px 10px;
}

.mission-div {
  width: 500px;
  box-sizing: border-box;
  margin: 30px 0px;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%; /* Take full height of the parent div */
  color: black;
  font-weight: bold;
  margin-bottom: 10px; /* Adjust according to your needs */
}
